@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
@font-face {
    font-family: "MyHana";
    src: url("../fonts/HanaMinOTPr6N-Regular.otf") format("opentype");
}

@font-face {
    /*仿宋*/
    font-family: 'cwTeXFangSong';
    font-style: normal;
    font-weight: 1000;
    src: url(//fonts.gstatic.com/ea/cwtexfangsong/v3/cwTeXFangSong-zhonly.eot);
    src: url(//fonts.gstatic.com/ea/cwtexfangsong/v3/cwTeXFangSong-zhonly.eot?#iefix) format('embedded-opentype'),
    url(//fonts.gstatic.com/ea/cwtexfangsong/v3/cwTeXFangSong-zhonly.woff2) format('woff2'),
    url(//fonts.gstatic.com/ea/cwtexfangsong/v3/cwTeXFangSong-zhonly.woff) format('woff'),
    url(//fonts.gstatic.com/ea/cwtexfangsong/v3/cwTeXFangSong-zhonly.ttf) format('truetype');
}


html,
body {
    height: 100%;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 16px;
}

body {
    background: url(../img/bkBig.jpg) bottom center no-repeat;
    background-size: contain;
}

#frontIndex {
    width: 100%;
    height: 100%;
    display: block;
}

#navMap {
    display: block;
    background-size: contain;
    background: url(../img/map.svg) no-repeat center;
    height: 60%;
}

.eachButton {
    width: 7em;
    padding-top: 2%;
    display: block;
    text-align: center;
    position: absolute;
    z-index: 40;
}

.eachButton .btn {
    background-image: url(../img/item.svg);
    width: 20%;
    padding-bottom: 33%;
    display: block;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: bottom center;
}

.eachButton h4 {
    display: inline;
    font-family: 'MyHana', serif;
    line-height: 0.95;
    font-weight: 800;
    font-size: 0.75em;
    color: #9c7d4d;
    background-color: #FFF;
    padding: 0.25em;
    border: #9c7d4d 1px solid;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
}

.eachButton h4:first-of-type,
.eachButton:hover h4:first-of-type {
    /* border-bottom: none; */
}

.eachButton h4:last-of-type,
.eachButton:hover h4:last-of-type {
    border-top: none;
}

.activeDisplay .btn,
.eachButton:hover .btn {
    background-image: url(../img/itemHover.svg);
}

.activeDisplay h4,
.eachButton:hover h4 {
    color: #FFF;
    background-color: #9c7d4d;
    border: #FFF 1px solid;
}

.mzmHK {
    top: 5%;
    left: 28%;
}

.mzmHL {
    top: 5%;
    left: 35%;
}

.mzmPAC {
    top: 15%;
    left: 42.5%;
}

.mzmAL {
    top: 15%;
    left: 65%;
}

.mzmMS {
    top: 10%;
    left: 55%;
}

.mzmZN {
    top: 25%;
    left: 10%;
}

.mzmLC {
    top: 25%;
    left: 35%;
}

.mzmSK {
    top: 5%;
    left: 45%;
}

.mzmZP {
    top: 25%;
    left: 50%;
}

.mzmPZ {
    top: 15%;
    left: 20%;
}

.mzmML {
    top: 15%;
    left: 25%;
}

.mzmTP {
    top: 10%;
    left: 60%;
}

.mzmBC {
    top: 15%;
    left: 37%;
}

#frontLogo {
    background: url(../img/logoIndex.svg) left top no-repeat;
    background-size: contain;
    height: 100px;
    display: block;
    margin: 1%;
    z-index: 8;
    position: absolute;
    width: 100%;
}

#frontIndex main {
    position: absolute;
    z-index: 10;
    height: 50%;
    width: 100%;
    display: block;
    bottom: 0px;
}

#frontIndex main #selectMenu,
.eachContainer {
    position: relative;
    margin: 0 auto;
    width: 100%;
    display: block;
    height: 100%;
}

#frontIndex main .infoBox {
    display: block;
    height: 90%;
    border: #9c7d4d 1px solid;
    float: left;
    overflow: hidden;
}

.infoBox {
    overflow: scroll;
    border: #9c7d4d 1px solid;
    width: 30%;
    margin: 0 1.5%;
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-box-shadow: 5px 5px 30px 0px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 5px 5px 30px 0px rgba(0, 0, 0, 0.7);
    box-shadow: 5px 5px 30px 0px rgba(0, 0, 0, 0.7);
}

.mainContent {
    width: 63%;
    height: 85%;
    float: right;
    margin: 0 1.5%;
    border: #9c7d4d 1px solid;
    -webkit-box-shadow: 5px 5px 30px 0px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 5px 5px 30px 0px rgba(0, 0, 0, 0.7);
    box-shadow: 5px 5px 30px 0px rgba(0, 0, 0, 0.7);
}


main .infoBox,
section .infoBox {
    animation: fadeOut 1s forwards;
}

.mainContent .contentHeader {
    color: #FFF;
    background-color: rgba(158, 126, 77, 0.8);
    width: 63%;
    height: 7.5%;
    font-family: 'MyHana', serif;
    clear: both;
    position: absolute;
}

.mainContent .contentHeader h2 {
    text-decoration: none;
    padding: 15px 0 0 15px;
    text-align: center;
    font-family: 'MyHana', serif;
    font-weight: 800;
    font-size: 2em;
    color: #FFF;
    display: block;
    hanging-punctuation: 100%;
    float: left;
}

.mainContent .functionBox {
    float: right;
    padding: 15px 15px 0 0;
    text-align: right;
}

.functionBox a {
    color: #FFF;
    text-decoration: none;
}

.functionBox a:hover {
    text-decoration: underline;
}

.mainContent .contentDisplay {
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2)
}

.mainContent .contentDisplay iframe {
    height: 100%;
    width: 100%;
}

main:hover .infoBox,
section:hover .infoBox {
    animation: fadeIn 1s forwards;
}

section {
    animation: moveBkBack 3s forwards;
}

section:hover {
    animation: moveBk 5s forwards;
}

.infoBox h1 {
    text-decoration: none;
    margin: 15px 0px;
    text-align: center;
    font-family: 'MyHana', serif;
    font-weight: 800;
    font-size: 2em;
    color: #9c7d4d;
}

.infoBox h1 a {
    color: #9c7d4d;
    text-decoration: none;
}

.infoBox .subList {
    height: 70%;
    display: block;
    margin: auto;
}

.subList .subListRight {
    color: #4d4d4d;
    line-height: 1.5;
    list-style-type: none;
}

.subList a {
    color: #4d4d4d;
    padding: 5px;
    font-size: 1.2em;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    font-family: "cwTeXFangSong";
}

.subList h3 {
    border-bottom: #d4cab4 1px solid;
}

.subList a:hover {
    color: #9c7d4d;
    cursor: pointer;
}

.infoBox .subListLeft {
    border-right: #9c7d4d 1px solid;
    display: block;
    float: left;
    width: 50%;
    height: 100%;
}

.infoBox .subListLeft li {
    font-family: 'MyHana', serif;
    font-size: 1em;
    list-style-type: none;
    padding: 5px 5px 0 5px;
    clear: both;
}

.timeStramp {
    display: inline-block;
    color: #9c7d4d;
    width: 25%;
    font-size: 0.9em;
}

.newTag {
    font-size: 0.9em;
    float: right;
    display: inline-block;
    background-color: #9c7d4d;
    padding: 0.15em 0.3em;
    color: #FFF;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    /*    border: #FFF 1px solid;*/
}

.infoBox .subListLeft li a {
    display: inline-block;
    width: 100%;
    padding: 5px 0 5px 0;
    font-size: 0.8em;
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 100;
    text-align: justify;
    line-height: 1.2;
}


.eachMzm {
    height: 90%;
    display: block;
    padding-top: 10%;
    background-size: cover;
    background-position: 40%;
    background-repeat: no-repeat;
    clear: both;
}

.eachMzm .infoBox {
    height: 85%;
    float: left;
}

#mzmHK {
    background-image: url(../img/BKeachMZM_HK.jpg);
}

#mzmHL {
    background-image: url(../img/BKeachMZM_HL.jpg);
}

#mzmPAC {
    background-image: url(../img/BKeachMZM_PAC.jpg);
}

#mzmAL {
    background-image: url(../img/BKeachMZM_AL.jpg);
}

#mzmMS {
    background-image: url(../img/BKeachMZM_MS.jpg);
}

#mzmZN {
    background-image: url(../img/BKeachMZM_ZN-09.jpg);
}

#mzmLC {
    background-image: url(../img/BKeachMZM_LC.jpg);
}

#mzmSK {
    background-image: url(../img/BKeachMZM_SK.jpg);
}

#mzmZP {
    background-image: url(../img/BKeachMZM_ZP.jpg);
}

#mzmPZ {
    background-image: url(../img/BKeachMZM_PZ.jpg);
}

#mzmML {
    background-image: url(../img/BKeachMZM_ML.jpg);
}

#mzmTP {
    background-image: url(../img/BKeachMZM_ML.jpg);
}

.navLogo {
    width: 48%;
    height: 100%;
    float: left;
    display: block;
    background-image: url(../img/logoMenu.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.navSub {
    width: 48%;
    height: 100%;
    float: right;
    background-image: url(../img/look.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 90%;
}

.navCenter {
    width: 4%;
    height: 100%;
    display: block;
    float: left;
    margin: 0px;
    text-align: center;
    background-image: url(../img/downIcon.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    opacity: 0.5;
}

.navCenter:hover {
    background-position: 50% 55%;
    opacity: 1;
}

.navBar {
    position: fixed;
    top: 0px;
    color: #FFF;
    font-size: 0.8em;
    height: 7.5%;
    width: 100%;
    text-align: center;
    font-family: 'MyHana', serif;
    line-height: 2;
    z-index: 40;
    background-color: rgba(158, 126, 77, 0.8);
    opacity: 0;
}


.listBox {
    position: absolute;
    display: block;
    clear: both;
    width: 100%;
    opacity: 0;
    top: -1000%;
    z-index: 35;
}

#adjNav,
#adjNav:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.navToogle {
    position: absolute;
    top: -9999px;
    left: -9999px;
    opacity: 0;
}

.navToogle:checked + .navCenter {
    background-image: url(../img/upIcon.svg);
}

.navToogle:checked ~ .listBox {
    animation: backgroundFadeInlistBox 1s forwards;
}

.navToogle:unchecked ~ .listBox {
    animation: backgroundFadeOutlistBox 1s forwards;
}

.listBox a {
    display: block;
    vertical-align: middle;
    width: 7.69230%;
    padding: calc((7.69230% - 2.4em)/2) 0;
    float: left;
    line-height: 1.2;
    color: rgba(158, 126, 77, 1);
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.9);
    font-size: 1em;
    cursor: pointer;
}

.listBox a:hover {
    background-color: rgba(158, 126, 77, 0.8);
    color: #FFF;
    cursor: pointer;
}

footer {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    bottom: 0px;
    height: 3%;
    width: 100%;
    text-align: center;
    padding: 0.25% 0;
    -webkit-box-shadow: 0px -1px 15px 0px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px -1px 15px 0px rgba(0, 0, 0, 0.7);
    box-shadow: 0px -1px 15px 0px rgba(0, 0, 0, 0.7);
}

footer a {
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 0.5%;
    margin-top: 0.3%;
    vertical-align: middle;
}

footer h5 {
    display: inline-block;
    color: #FFF;
    font-size: 0.5em;
    font-family: 'MyHana', serif;
    vertical-align: middle;
    margin-left: 2%
}

#moc {
    background-image: url(../img/footerMOC.png);
    width: 85px;
    padding-bottom: 2%;
}

#cyc {
    background-image: url(../img/footerCYC.png);
    width: 75px;
    padding-bottom: 2%;

}

#tbocc {
    background-image: url(../img/footerTBOCC.png);
    width: 110px;
    padding-bottom: 2%;

}

#tnnua {
    background-image: url(../img/footerTNAU.png);
    width: 190px;
    padding-bottom: 2%;
}

@keyframes backgroundFadeIn {
    from {
        top: -100%;
        opacity: 0;
    }
    to {
        opacity: 1;
        top: 0%;
    }
}

@keyframes backgroundFadeInlistBox {
    from {
        top: -500%;
        opacity: 0;
    }
    to {
        opacity: 1;
        top: 100%;
    }
}

@keyframes backgroundFadeOut {
    from {
        opacity: 1;
        top: 0%;
    }
    to {
        opacity: 0;
        top: -100%;
    }
}

@keyframes backgroundFadeOutlistBox {
    from {
        opacity: 1;
        top: 100%;
    }
    to {
        opacity: 0;
        top: -500%;
    }
}

@keyframes fadeIn {
    from {
        background-color: rgba(255, 255, 255, 0.5);
    }
    to {
        background-color: rgba(255, 255, 255, 0.8);
    }
}

@keyframes fadeOut {
    from {
        background-color: rgba(255, 255, 255, 0.8);
    }
    to {
        background-color: rgba(255, 255, 255, 0.5);
    }
}

@keyframes fadeInHover {
    from {
        opacity: 0.9;
    }
    to {
        opacity: 1;
    }
}


@keyframes moveBk {
    from {
        background-position: 45%;
    }
    to {
        background-position: 55%;
    }
}

@keyframes moveBkBack {
    from {
        background-position: 55%;
    }
    to {
        background-position: 45%;
    }
}

@keyframes blinkBK {
    0% {
        -webkit-box-shadow: 5px 5px 30px 0px rgba(156, 125, 77, 0.7);
        -moz-box-shadow: 5px 5px 30px 0px rgba(156, 125, 77, 0.7);
        box-shadow: 5px 5px 30px 0px rgba(156, 125, 77, 0.7);
    }
    25% {
        -webkit-box-shadow: 5px 5px 30px 0px rgba(156, 125, 77, 0.9);
        -moz-box-shadow: 5px 5px 30px 0px rgba(156, 125, 77, 0.9);
        box-shadow: 5px 5px 30px 0px rgba(156, 125, 77, 0.9);
    }
    50% {
        -webkit-box-shadow: 5px 5px 30px 0px rgba(156, 125, 77, 1);
        -moz-box-shadow: 5px 5px 30px 0px rgba(156, 125, 77, 1);
        box-shadow: 5px 5px 30px 0px rgba(156, 125, 77, 1);
    }
    75% {
        -webkit-box-shadow: 5px 5px 30px 0px rgba(156, 125, 77, 0.9);
        -moz-box-shadow: 5px 5px 30px 0px rgba(156, 125, 77, 0.9);
        box-shadow: 5px 5px 30px 0px rgba(156, 125, 77, 0.9);
    }
    100% {
        -webkit-box-shadow: 5px 5px 30px 0px rgba(156, 125, 77, 0.8);
        -moz-box-shadow: 5px 5px 30px 0px rgba(156, 125, 77, 0.7);
        box-shadow: 5px 5px 30px 0px rgba(156, 125, 77, 0.7);
    }
}

main #selectMenu .selectHover {
    animation: blinkBK 1.5s infinite;
    background-color: rgba(156, 125, 77, 0.2);
}

iframe {
    background-color: rgba(255, 255, 255, 0.8);
    display: none;
}


.loadingPin {
    padding: calc(50% - 4em) 0;
    margin: 0 auto;
    width: 12em;
    text-align: center;
    font-size: 0.8em;
    letter-spacing: 0.2em;
    font-family: "myHana", serif;
    line-height: 1.5;
    display: block;
}

.loadingPin img {
    width: 30%;
}

.loadingPin p {
    color: #888;
}
