@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
@font-face {
    font-family: "MyHana";
    src: url("../fonts/HanaMinOTPr6N-Regular.otf") format("opentype");
}


html,body{
    height: 100%;
    font-family: 'Noto Sans TC', sans-serif;
}
#frontIndex{
    width: 100%;
    height: 100%;
    display: block;
    
    }

#navMap{
    display: block;
    height: 60%; 
    background: url(../img/map.svg) no-repeat center -10%;
    }

#frontLogo{
    background: url(../img/logoIndex.svg) left top no-repeat;
    background-size: contain;
    height:100px;
    display: block;
    margin: 1%;
    }
#frontIndex main{
    height: 40%;
    display: block;
}
#frontIndex main>div{
    display:block;
    height: 90%;
    border: #9c7d4d 1px solid;
    float: left
    
}
.infoBox {
    overflow: scroll;
    border: #9c7d4d 1px solid;
    width: 30%;
    margin: 0 1.5%;
    background-color: rgba(255,255,255,0.8)
}
.infoBox h1{
    margin: 15px 0px ;
    text-align: center;
    font-family: 'MyHana',serif;
    font-weight: 800;
    font-size: 2em;
    color: #9c7d4d;
}
.infoBox .subList{
    height: 70%;
    display: block;
    margin: auto;
}
.infoBox .subListLeft{
    border-right:#9c7d4d 1px solid;
    display: block;
    float: left;
    width: 50%;
    height: 100%;
    
}
.eachMzm{
    height: 85%;
    display: block;
    padding-top: 15%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.eachMzm:nth-child(even) .infoBox{
    float: right;
}
.eachMzm .infoBox{
    height: 70%;   
}

.mzmHK{
    background-image: url(../img/BKeachMZM_HK.jpg);
}