@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
@font-face {
    font-family: "MyHana";
    src: url("../fonts/HanaMinOTPr6N-Regular.otf") format("opentype");
}


html,body{
    height: 100%;
    font-family: 'Noto Sans TC', sans-serif;
}

body{
    background: url(../img/bkBig.jpg) bottom center no-repeat;
    background-size: contain;
}

#frontIndex{
    width: 100%;
    height: 100%;
    display: block;
    
    }

#navMap{
    display: block;
    height: 60%; 
    background: url(../img/map.svg) no-repeat center -10%;
    }

#frontLogo{
    background: url(../img/logoIndex.svg) left top no-repeat;
    background-size: contain;
    height:100px;
    display: block;
    margin: 1%;
    }
#frontIndex main{
    position: absolute;
    z-index: 10;
    height: 50%;
    width: 100%;
    display: block;
    bottom: 0px;
}
#frontIndex main #selectMenu,.eachContainer{
    position: relative;
    margin: 0 auto;
    width: 100%;
    display: block;
    height: 100%;
}
#frontIndex main .infoBox{
    display:block;
    height: 90%;
    border: #9c7d4d 1px solid;
    float: left;
}
.infoBox {
    overflow: scroll;
    border: #9c7d4d 1px solid;
    width: 30%;
    margin: 0 1.5%;
    background-color: rgba(255,255,255,0.8);
    -webkit-box-shadow: 5px 5px 30px 0px rgba(0,0,0,0.7);
-moz-box-shadow: 5px 5px 30px 0px rgba(0,0,0,0.7);
box-shadow: 5px 5px 30px 0px rgba(0,0,0,0.7);
}

main .infoBox,section .infoBox{
    animation: fadeOut 1s forwards;
}


main:hover .infoBox,section:hover .infoBox{
    animation: fadeIn 1s forwards;
}
section{
animation: moveBkBack 3s forwards;
    }   
section:hover{
animation: moveBk 5s forwards;
    }                            

.infoBox h1{
    margin: 15px 0px ;
    text-align: center;
    font-family: 'MyHana',serif;
    font-weight: 800;
    font-size: 2em;
    color: #9c7d4d;
}
.infoBox .subList{
    height: 70%;
    display: block;
    margin: auto;
}

.infoBox .subListLeft{
    border-right:#9c7d4d 1px solid;
    display: block;
    float: left;
    width: 50%;
    height: 100%;    
}

.eachMzm{
    height: 85%;
    display: block;
    padding-top: 15%;
    background-size: cover;
    background-position: 40%;
    background-repeat: no-repeat;
}

.eachMzm:nth-child(even) .infoBox{
    float: right;
}

.eachMzm .infoBox{
    height: 80%;    
}

#mzmHK{
    background-image: url(../img/BKeachMZM_HK.jpg);
}
#mzmHL{
    background-image: url(../img/BKeachMZM_HL.jpg);
}
#mzmPAC{
    background-image: url(../img/BKeachMZM_PAC.jpg);
}
#mzmAL{
    background-image: url(../img/BKeachMZM_AL.jpg);
}
#mzmMS{
    background-image: url(../img/BKeachMZM_MS.jpg);
}
#mzmZN{
    background-image: url(../img/BKeachMZM_ZN-09.jpg);
}
#mzmLC{
    background-image: url(../img/BKeachMZM_LC.jpg);
}
#mzmSK{
    background-image: url(../img/BKeachMZM_SK.jpg);
}
#mzmZP{
    background-image: url(../img/BKeachMZM_ZP.jpg);
}
#mzmPZ{
    background-image: url(../img/BKeachMZM_PZ.jpg);
}
#mzmML{
    background-image: url(../img/BKeachMZM_ML.jpg);
}
#mzmTP{
    background-image: url(../img/BKeachMZM_ML.jpg);
}
.navLogo{
    width:48%;
    height:100%;
    float: left;
    display: block;
    background-image: url(../img/logoMenu.svg);
    background-repeat: no-repeat;
    background-size: contain;
} 

.navSub{
    width:48%;
    height: 100%;
    float: right;
    display: block;
        background-image: url(../img/look.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 90%;
}
.navCenter{
    width:4%;
    height: 100%;
    display: block;
    float: left ;  
    margin: 0px;
    text-align: center;
    background-image: url(../img/downIcon.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    opacity: 0.5;
}
.navCenter:hover{
    background-position: 50% 55%;
    opacity: 1;
}
.navBar{
    position: fixed;
    top: 0px;
    color: #FFF;
    font-size: 0.8em;
    height: 7.5%;
    width: 100%;
    text-align: center;
    font-family: 'MyHana',serif;
    line-height: 2; 
    z-index: 20;
    background-color: rgba(158,126,77,0.8);
    opacity: 0;
}
.listBox{
    clear: both;
    width: 100%;
    opacity: 0;
}
.navToogle{
position: absolute;
   top: -9999px;
   left: -9999px;
    opacity: 0;
}

.navToogle:checked + .navCenter{
    background-image: url(../img/upIcon.svg);
}
.navToogle:checked ~ .listBox {
    animation: backgroundFadeIn 0.8s forwards;
}

.navToogle:unchecked ~ .listBox {
    animation: backgroundFadeOut 0.5s forwards;
}
.listBox a{
    display: block;
    vertical-align: middle;
    width: 8.33%;
    padding: calc((8.3% - 2.4em)/2) 0;
    float: left;
    line-height:1.2;
    color: rgba(158,126,77,1);
    text-decoration: none;
    background-color: rgba(255,255,255,0.9);
    font-size: 1em;
}
.listBox a:hover{
    background-color: rgba(158,126,77,0.8);
    color: #FFF;
}
footer{
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    bottom: 0px;
    height:3%;
    width: 100%;
    text-align: center;
    padding: 0.25% 0;
    -webkit-box-shadow: 0px -1px 15px 0px rgba(0,0,0,0.7);
-moz-box-shadow: 0px -1px 15px 0px rgba(0,0,0,0.7);
box-shadow: 0px -1px 15px 0px rgba(0,0,0,0.7);
}
footer a{
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 0.5%;
    margin-top: 0.3%;
    vertical-align: middle;
}
footer h5{
    display: inline-block;
    color: #FFF;
    font-size: 0.5em;
    font-family: 'MyHana',serif;
    vertical-align: middle;
    margin-left: 2%
}
#moc{
    background-image: url(../img/footerMOC.png);
    width: 85px;
    padding-bottom:  2%;
}
#cyc{
    background-image: url(../img/footerCYC.png);
    width:75px;
    padding-bottom:  2%;
    
}
#tbocc{
    background-image: url(../img/footerTBOCC.png);
    width: 110px;
    padding-bottom:  2%;
    
}
#tnnua{
    background-image: url(../img/footerTNAU.png);
    width:190px;
    padding-bottom:  2%;
}

@keyframes backgroundFadeIn {
    from { opacity: 0;}
    to   { opacity: 1; }
}
@keyframes backgroundFadeOut {
    from { opacity: 1; }
    to   { opacity: 0; }
}

@keyframes fadeIn {
    from { background-color: rgba(255,255,255,0.5); } 
    to { background-color: rgba(255,255,255,0.8); }
}

@keyframes fadeOut {
    from { background-color: rgba(255,255,255,0.8); } 
    to { background-color: rgba(255,255,255,0.5); }
}

@keyframes fadeInHover {
    from { opacity: 0.9; } 
    to { opacity: 1; }
}


@keyframes moveBk {
    from { background-position: 45%; } 
    to { background-position: 55%; }
}

@keyframes moveBkBack {
    from { background-position: 55%; } 
    to { background-position: 45%; }
}