ㄛˇ@media (min-width: 768px){
/*
    .infoBox{
        width: 90%;
    }
*/
}


@media (min-width: 992px){
    #frontIndex main #selectMenu,.eachContainer{
        width: 95%;
    }
    
}

@media (min-width: 1200px){
    #frontIndex main #selectMenu,.eachContainer{
        width: 80%;
    }
    
}